:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.form {
  width: 500px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.error {
  color: tomato;
}
