:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  grid-gap: 24px;
}

.profile-header-img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.name-and-username {
  text-align: left;
}
