:host {
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 12px 16px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-gap: 12px;
  align-items: center;
  width: 100%;
  text-align: left;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: var(--dark-hover-color);
    color: var(--primary-color);
    .menu-item__svg {
      color: var(--primary-color);
    }
  }
}

.menu-item__svg {
  width: 16px;
  height: 16px;
}

.sidebar-card {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-card__subscribers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.sidebar__footer {
  background-color: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;

  .username-text {
    color: var(--primary-color);
  }
}

.sidebar__footer-img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
