@if (profile$ | async; as profile) {
<header class="profile-page__header">
  <app-profile-header [profile]="profile"> </app-profile-header>
  <a routerLink="/settings/{{ profile.id }}" class="btn to-settings-btn">
    Редактировать
    <svg icon="settings" class="to-settings-icon"></svg>
  </a>
</header>

<main class="profile-page__body">
  <div>
    <app-post-feed></app-post-feed>
  </div>
  <div>
    <h3 class="h6 mb16">Подписчики</h3>

    <div class="subscribers-wrapper mb32">
      @for (subscriber of subscribers$ | async; track $index) {
      <a
        class="subscriber-avatar-btn"
        [routerLink]="['/profile', subscriber.id]"
      >
        <img
          [src]="subscriber.avatarUrl | imgUrl"
          [alt]="subscriber.username"
          class="subscriber-avatar-img"
        />
      </a>
      }
      <a class="to-subscriber-search" [routerLink]="['/search']"></a>
    </div>
    <h3 class="h6 mb16">Навыки</h3>
    <div class="skill-wrapper mb32">
      @for (skill of profile.stack; track $index) {
      <div class="skill-tag">{{ skill }}</div>
      }
    </div>

    <h3 class="h6 mb16">О себе</h3>

    <p class="medium-text">{{ profile.description }}</p>
  </div>
</main>
}
