@import "fonts";
:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "JetBrains Mono", monospace;
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-right: 4px;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
